// Define variables for your color scheme

// For example:
$red: rgb(163, 3, 3);
$blue: rgb(9, 56, 132);
$yellow: rgb(247, 206, 2);
$orange: rgb(247, 130, 51);
$green: rgb(33, 135, 54);
$gray: rgb(84, 84, 84);
$light-gray: rgb(211, 211, 211);
