---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <div class="banner-wrap">
      <%= partial "layouts/banner" %>
    </div>
    <div class="cards-container">
      <h2> Recent flats </h2>
      <div class="row">
        <div class="col-md-4">
          <%= partial "layouts/cards" %>
        </div>
      </div>
    </div>
      <p class="about">
        <%= link_to "More about this template", "about.html" %>
      </p>
    </div>
  </div>
</div>
